.home_container{
    display: grid;
    width: 95%;
    grid-template-columns: 1fr 1fr;
grid-gap: 30px;
padding: 20px;
margin: auto;
}
.home_container>div{
    width: 100%;
    height: 300px;
    border: 1px solid rgb(199, 195, 195);
    border-radius: 10px;
}