.blog_card{
    text-align: left;
    /* padding: 10px; */
}
.btn{
    background-color: transparent;
    border: 0;
    background: transparent;
width: 20px;
}
.btn:hover{
    background-color: transparent;
    color: red;
}